@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size:100%;
    box-sizing: border-box;
} 

:root{
    /*Colour Variables */
    --base-color:#243447;
    --primary-color: #F2C94C;
    --secondary-color: #1DA1F2;
    --white: #f2f2f2;
    --black: #232B32;
    --grey: #8e8e8e;
}

/*Menu*/
.nav-toogle{
    display: block;
    position: fixed;
    cursor: pointer;
    background-color: rgb(36, 52, 71, 0.9);
    border-radius: 10%;
    
    top: 5px;
    right: 10px;
    z-index: 10;
}

.toogle-icon{
    font-size: 2.25em;
    padding: 5px;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px var(--black);
}

nav{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: rgb(36, 52, 71, 0.9);
}

nav[data-visible="true"]{
    display: block; 
}

.anchor-list{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.anchor-link, .anchor-link:visited { 
    font-family:'Rubik', sans-serif;
    color: var(--white);
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px var(--black);
}

.social-icon{
    font-size: 2em;
}


html{
    font-size: 100%;
    scroll-behavior: smooth;
    
    /*Font Variables*/
    line-height: 1.5;
}

.visuallyHidden{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/*General Settings*/
.title{
    font-family:'Zen Dots', sans-serif;
    font-size: 3.25rem;
    font-weight: 400;
    padding-bottom: 16px;
}

.subtitle{
    font-family:'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight:600;
}

.body-text{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 16px;
}

.justify-text{
    text-align: justify;
}

.align-text-center{
    text-align: center;
}

.paragraph{
    text-indent: 2em;
}

.bounce-animation{
    animation: bounce 2s infinite;
}


/*Home Section*/
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/Formulas.jpg");
    color: var(--primary-color);
    text-shadow: 1px 1px 2px var(--black), 0 0 25px var(--base-color), 0 0 5px var(--base-color);
}

/*About Section*/
.about{
    background-color: var(--primary-color);
    color: var(--black);
    min-height: 60vh;
}



.contact{
    background-color: var(--base-color);
    color: var(--white);
}


/*Tools Section*/
.tools{
    background-color: var(--base-color);
    color: var(--white);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-icon{
    color: var(--primary-color);
    font-size: 5rem;
}

/*Project Section*/
.project{
    background-color: var(--primary-color);
    color: var(--black);
}

.link-text{ /*Fix*/
    font-family:'Zen Dots', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.home-title{
    font-family:'Zen Dots', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 64px;
}

.submit-button{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    border-color: 4px solid var(--white);
}

a{
    font-family: var(--body-text);
    font-weight: 600;
}

a:link , a:visited{
    text-decoration: none;
} 

.profile-list a{
    color: var(--white);
    display: flex;
    flex-direction: row;
}

.button{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    background-color: var(--white);
    border: 4px solid var(--secondary-color);
    border-radius: 16px;
    padding: 5px 20px;
}

.button:hover{
    background-color: var(--secondary-color);
    border: 4px solid var(--white);
    color: var(--white);
}

ul{
    list-style: none;
    display: flex;
}

.no-list-style{
    list-style: none;
    display: flex;
}

.email-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.name{
    font-family: var(--body-text);
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}

.email{
    font-family: var(--body-text);
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}

.message{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;

    overflow: auto;
    height: 60%;
    padding: 10px;
}




.project-image{
    width: 450px;
    height: 225px;

    border-radius: 32px;
}

.wrapper{
    display: flex;
    gap: 20px;
}

.left-column{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.right-column{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

footer{
    background-color: var(--white);
}

.footer-text{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 4px 0;
}

/* Desktop and Laptop*/
section{
    padding: 50px 80px;
}

.wrapper{
    flex-direction: row;
    justify-content: center;
}

.project .wrapper:not(:last-child){
    padding-bottom: 32px;
}



.align-text-left{
    align-items: flex-start; 
    width: 50%;
}

.align-text-right{
    align-items: flex-end;
    width: 50%;
}

.profile-list{
    flex-direction: column;
}

/* Tablet */
@media (max-width: 990px) {
    section{
        padding: 20px;
    }

    .desktop{
        display: none;
    }

    .title{
        font-size: 2rem;        
    }

    .home-title{
        font-size: 2.5rem;
    }

    .subtitle{
        font-size: 1.75rem;
    }

    .body-text{
        font-size: 1rem;
    }

    .submit-button{
        font-size: 1rem; 
    }

    .project-image{
        width: 100%;
        height: auto;
    }

    .flex-inverse{
        flex-direction: column-reverse !important;
    }

    .align-text-left, .align-text-right{
        padding: 0 !important;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .left-column{
        width: 100%;
        padding: 0;
    }

    .right-column{
        width: 100%;
        padding: 0;
    }

    .profile-list{
        flex-direction: row;
        justify-content: space-around;
    }

    textarea{
        min-height: 10rem;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
  }